<!DOCTYPE html>
<html>
  <head>
    <title>iTasks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Raleway', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>﻿
    <%= yield %>
  </body>
</html>
